input {
    width: 255px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 1);
    padding-top: 8px;
    padding-left: 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

textarea {
    width: 56px;
    height: 80px;
    font-size: 25px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 1);
    padding-top: 8px;
    padding-left: 16px;
    resize: none;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover,
textarea:hover {
    border: 1px solid rgba(78, 117, 255, 1);
}

button {
    width: 90px;
    height: 40px;
    background-color: rgba(128, 128, 128, 1);
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: white;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

.timer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    margin-top: 25px;
}

.field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.value {

    font-size: 50px;
    text-align: center;
    ;

}

.label {
    font-size: 30px;
}

.iziToast-close {
    background-color: transparent;
    background-image: url('../img/bi_x-lg.svg');
    background-size: contain;
    width: 16px;
    height: 16px;
    margin: 18px;
    color: transparent;

}

/* Flatpickr input styling */
#datetime-picker {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Start button styling */
#startButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#startButton:hover:not(:disabled) {
    background-color: #45a049;
}